extends ../components/layout

block content

  header.header.yolo-header-style-10
    
          
    
    .div-box.mb
      .container
        .big-demo.go-wide(data-js-module='filtering-demo')
          
            
          .sidebar-shop-search.toggle-sidebar-shop.mb-20.dib-none
            form
              input(type='text' placeholder='Search product')
              a(href='#')
                i.fa.fa-search
          .sidebar-shop-col.toggle-sidebar-shop.mb-20.dib-none
            .sidebar-product-style-2
              .row
                .col-md-3
                  aside.sort-by
                    h4.mb-20 Sort By
                    ul
                      li Default
                      li
                        a(href='#') Popularity
                      li
                        a(href='#') Average rating
                      li
                        a(href='#') Newness
                      li
                        a(href='#') Price: Low to High
                      li
                        a(href='#') Price: High to Low
                .col-md-3
                  aside.sort-by
                    h4.mb-20 Filter by price
                    ul.categories
                      li All
                      li
                        a(href='#') $0.00 - $50.00
                      li
                        a(href='#') $50.00 - $100.00
                      li
                        a(href='#') $100.00 - $150.00
                      li
                        a(href='#') $150.00 - $200.00
                      li
                        a(href='#') $200.00 - $250.00
                      li
                        a(href='#') $250.00 - $300.00
                      li
                        a(href='#') $300.00 - $350.00
                      li
                        a(href='#') $350.00 - $400.00
                      li
                        a(href='#') $400.00+
                .col-md-3
                  aside.categorie
                    h4.mb-20 Product Categories
                    ul.categories
                      li
                        a(href='#') Chair
                      li
                        a(href='#') Decoration
                      li
                        a(href='#') Essential
                      li
                        a(href='#') Lamp
                      li
                        a(href='#') Sofas
                .col-md-3
                  aside.tagcloud
                    h4.mb-20 tags
                    ul.tagcloud
                      li
                        a(href='#') Bag
                      li
                        a(href='#') Comb
                      li
                        a(href='#') Chair
                      li
                        a(href='#') Classic
                      li
                        a(href='#') Desk
                      li
                        a(href='#') Gel
                      li
                        a(href='#') Lamp
                      li
                        a(href='#') Glass
                      li
                        a(href='#') Office
                      li
                        a(href='#') Table Tiles
                      li
                        a(href='#') Socks
          ul.grid.shortcode-product-wrap.product-begreen.columns-3
            li.element-item.product-item-wrap.product-style_1.featured.indoor.new.seeds(data-category='outdoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Hot Holiday Naked Cactus
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 55.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 Cactus quaerat volupta
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.featured.indoor.pots(data-category='seeds')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Tall Terrarium Plant
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 52.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.indoor.new.pots(data-category='outdoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                    span.on-new.product-flash New
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Calvert with Light Plants
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 42.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.featured.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Calvert with Succulents
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 33.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Succulent Collection
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 44.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.outdoor.pots(data-category='seeds')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                    span.on-new.product-flash 18.56%
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                      i.fa.fa-star-o
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Ezra with Low Light Plants
                    span.price
                      del
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 49.00
                      ins
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 40.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.indoor.featured(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                    span.on-new.product-flash Sold
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Tall Terrarium Plant Collection
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.featured.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Calvert with Succulents
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 33.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Succulent Collection
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 44.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.outdoor.pots(data-category='seeds')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                    span.on-new.product-flash 18.56%
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                      i.fa.fa-star-o
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Ezra with Low Light Plants
                    span.price
                      del
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 49.00
                      ins
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 40.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view
            li.element-item.product-item-wrap.product-style_1.indoor.featured(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                    span.on-new.product-flash Sold
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 The Tall Terrarium Plant Collection
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view