extends ../components/layout

block content

  header.header.yolo-header-style-10
    
          
    
    .div-box.mb
      .container
        .big-demo.go-wide(data-js-module='filtering-demo')
          
            
          
          
                
                
                
          ul.grid.shortcode-product-wrap.product-begreen.columns-3
            li.element-item.product-item-wrap.product-style_1.featured.indoor.new.seeds(data-category='outdoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    
                    a(href='#')
                      h3 кактус!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 55.00
                  search
                      |
            li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    
                    a(href='#')
                      h3 кактус!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00             
            li.element-item.product-item-wrap.product-style_1.featured.indoor.pots(data-category='seeds')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 воббще не  очень  продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 52.00
            li.element-item.product-item-wrap.product-style_1.indoor.new.pots(data-category='outdoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 воббще не  очень  продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 42.00
            li.element-item.product-item-wrap.product-style_1.featured.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 воббще не  очень  продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 33.00
            li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 не очень продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 44.00
            li.element-item.product-item-wrap.product-style_1.outdoor.pots(data-category='seeds')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 кактус!
                    span.price
                      del
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 49.00
                      ins
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 40.00
            li.element-item.product-item-wrap.product-style_1.indoor.featured(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 лучший продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00
            li.element-item.product-item-wrap.product-style_1.featured.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 воббще не  очень  продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 33.00
            li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 не очень продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 44.00
            li.element-item.product-item-wrap.product-style_1.outdoor.pots(data-category='seeds')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 кактус!
                    span.price
                      del
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 49.00
                      ins
                        span.product-begreen-price-amount.amount
                          span.product-begreen-price-currencysymbol $
                          | 40.00
            li.element-item.product-item-wrap.product-style_1.indoor.featured(data-category='indoor')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='/product1')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    a(href='#')
                      h3 лучший продукт!
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00