extends ../components/layout


block content

    li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/pr2.jpg' alt='product1' width='375' height='450')
                  
                    