extends ../components/layout


block content


    .element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                  h3#myid.mytext Наши курутые показатели
                    canvas#myChart1.child(style='margin-left: 10px;')
    .element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                  h3.mytext Наши курутые показатели

                    canvas#myChart2.child(style='margin-left: 10px;')
    .element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                  h3.mytext Наши курутые показатели

                    canvas#myChart3.child(style='margin-left: 10px;')


    .element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                  .center--m 
                  h3.mytext Наши курутые пользователи:
                  h5.mytext Name0
                  h5.mytext Name1
                  h5.mytext Name2
                  h5.mytext Name3
                  h5.mytext Name4
                  h5.mytext Name5
                  h5.mytext Name6
                  h5.mytext Name7
                  h5.mytext Name8
                  h5.mytext Name9
                  h5.mytext Name10
                  h5.mytext Name11
                  h5.mytext Name12
                  h5.mytext Name13
                  h5.mytext Name14
                  h5.mytext Name15
                  h5.mytext Name16
                  h5.mytext Name17
                  h5.mytext Name18
                  h5.mytext Name19
                  h5.mytext Name20
                  h5.mytext Name21
                  h5.mytext Name22
                  h5.mytext Name23
                  h5.mytext Name24
                  h5.mytext Name25
                  h5.mytext Name26
                  h5.mytext Name27
                  h5.mytext Name28
                  h5.mytext Name29
                  h5.mytext Name30
                  h5.mytext Name31
                  h5.mytext Name32
                  h5.mytext Name33
                  h5.mytext Name34
                  h5.mytext Name35
                  h5.mytext Name36
                  h5.mytext Name37
                  h5.mytext Name38
                  h5.mytext Name39
                  h5.mytext Name40
                  h5.mytext Name41
                  h5.mytext Name42
                  h5.mytext Name43
                  h5.mytext Name44
                  h5.mytext Name45
                  h5.mytext Name46
                  h5.mytext Name47
                  h5.mytext Name48
                  h5.mytext Name49
                  h5.mytext Name50
                  h5.mytext Name51
                  h5.mytext Name52
                  h5.mytext Name53
                  h5.mytext Name54
                  h5.mytext Name55
                  h5.mytext Name56
                  h5.mytext Name57
                  h5.mytext Name58
                  h5.mytext Name59
                  h5.mytext Name60
                  h5.mytext Name61
                  h5.mytext Name62
                  h5.mytext Name63
                  h5.mytext Name64
                  h5.mytext Name65
                  h5.mytext Name66
                  h5.mytext Name67
                  h5.mytext Name68
                  h5.mytext Name69
                  h5.mytext Name70
                  h5.mytext Name71
                  h5.mytext Name72
                  h5.mytext Name73
                  h5.mytext Name74
                  h5.mytext Name75
                  h5.mytext Name76
                  h5.mytext Name77
                  h5.mytext Name78
                  h5.mytext Name79
                  h5.mytext Name80
                  h5.mytext Name81
                  h5.mytext Name82
                  h5.mytext Name83
                  h5.mytext Name84
                  h5.mytext Name85
                  h5.mytext Name86
                  h5.mytext Name87
                  h5.mytext Name88
                  h5.mytext Name89
                  h5.mytext Name90
                  h5.mytext Name91
                  h5.mytext Name92
                  h5.mytext Name93
                  h5.mytext Name94
                  h5.mytext Name95
                  h5.mytext Name96
                  h5.mytext Name97
                  h5.mytext Name98
                  h5.mytext Name99



                      
