extends ../components/layout

block content

     li.element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/product-12.jpg' alt='product1' width='375' height='450')
                  a.product-link(href='#')
                    .product-hover-sign
                      hr
                      hr
                  .product-info
                    .star-rating
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star
                      i.fa.fa-star-o
                    a(href='#')
                      h3 Cactus quaerat volupta
                    span.price
                      span.product-begreen-price-amount.amount
                        span.product-begreen-price-currencysymbol $
                        | 40.00
                  .product-actions
                    .yith-wcwl-add-to-wishlist.add-to-wishlist-17
                      .yith-wcwl-add-button.show
                        a.add_to_wishlist(href='#')
                          i.fa.fa-heart-o
                          |  Add to Wishlist
                    .add-to-cart-wrap
                      a.add_to_cart_button(href='#')
                        i.fa.fa-cart-plus
                        |  Add to cart
                    a.product-quick-view(href='#')
                      i.fa.fa-search
                      | Quick view