extends ../components/layout

block content
  
        .element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                  .centrer--m
                    h3.mytext Продаем даже вот такое!
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/pr4.jpg' alt='product1' width='375' height='450')


        .element-item.product-item-wrap.product-style_1.indoor.outdoor.pots.seeds(data-category='pots')
              .product-item-inner
                .product-thumb
                  .product-flash-wrap
                  .product-thumb-primary
                  .centrer--m
                    h3.mytext Пожалуйста перейдите к покупкам, здесь больше не на что смотреть!
                    img.attachment-shop_catalog.size-shop_catalog.wp-post-image(src='images/demo/pr5.jpg' alt='product1' width='375' height='450')
                    a.mytext.mylink(href="/catalog") К покупочкам!
