mixin footer()
  footer(class="bg-light p-3 text-center")
    
    p
      | Project provided by&nbsp;
      a(target="_blank" rel="noopener noreferrer" href="https://github.com/Dev-cmyser") Kirill Novgorodtsev

